<!-- HEADER PANEL: PROJECT GRID CONTROLS -->
<ng-template #projectGridHeader>
	<div class="m-1">
		<button class="btn btn-sm btn-outline-info" (click)="createProject()">Create New Project</button>
	</div>
</ng-template>


<!-- NEW TASK CREATION UI TEMPLATE -->
<ng-template #taskDialog>
	<h2 mat-dialog-title>Create New Project</h2>
	<mat-dialog-content>
		<form [formGroup]="taskCreationForm">
			<mat-form-field>
				<mat-label>Task Name</mat-label>
				<input matInput formControlName="task_name">
			</mat-form-field>
		</form>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button (click)="closeDialog()">Cancel</button>
		<button mat-button (click)="submitTask()">Submit</button>
	</mat-dialog-actions>
</ng-template>


<!-- MAIN PANEL: PROJECT GRID CONTENT -->
<div class="project-grid p-2">
	<div *ngFor="let project of projects" class="project-card border border-dark-subtle rounded p-1 mb-2">
		<table class="w-100">
			<tr>
				<td class="text-left text-nowrap fw-bold">{{project.tsk_name}}</td>
				<td class="text-end text-nowrap">
					<img src="assets/images/play_icon_green.png" class="a-clickable button" [hidden]="project.active" (click)="toggleTask(project)" title="Start Task">
					<img src="assets/images/stop_icon_red.png" class="a-clickable button" [hidden]="!project.active" (click)="toggleTask(project)" title="Stop Task">
				</td>
			</tr>
		</table>
		<!-- {{ project | json }} -->
	</div>
</div>
