<!-- SIDE PANEL NAVBAR -->
<div class="layout" [ngClass]="layoutClasses">

	<!-- LEFT SIDE PANEL -->
	<div class="lpanel bg-dark pt-1 text-center border border-secondary">
		<div class="py-1 nav-icon">
			<img [routerLink]="['/home']" src="assets/images/home_icon_white.png" class="sidebar-icon" title="Home">
		</div>
		<div class="py-1 nav-icon">
			<img [routerLink]="['/account']" src="assets/images/user_icon_white.png" class="sidebar-icon" title="Home">
		</div>
		<div class="py-1 nav-icon">
			<img [routerLink]="['/calendar']" src="assets/images/calendar_white.png" class="sidebar-icon" title="Home">
		</div>
	</div>

	<!-- RIGHT SIDE PANEL -->
	<div class="rpanel bg-dark pt-1 text-center border border-secondary">
		Right Panel
	</div>

	<!-- HEADER PANEL -->
	<div class="hpanel bg-dark px-1 border border-secondary">
		Header
	</div>

	<!-- FOOTER PANEL -->
	<div class="fpanel bg-dark px-1 border border-secondary">
		Footer
	</div>

	<!-- MAIN CONTENT PANEL -->
	<div class="cpanel">
		<router-outlet></router-outlet>
	</div>
</div>
