<div class="calendar-container">
	<!-- HEADER -->
	<div class="calendar-navigator prev text-center">
		<
	</div>
	
	<div class="calendar-title text-center text-nowrap">
		{{calendarTitle}}
	</div>

	<div class="calendar-navigator next text-center text-nowrap">
		>
	</div>
	

	<!-- CALENDAR CELLS -->
	<ng-container *ngShow="false">
	<div class="year-container">
	</div>
	</ng-container>

	<div *ngFor="let mnth of months" (click)="selectMonth(mnth)" [class.selected]="selection('month', 'Monthly', mnth)" [class.hidden]="hide('month', 'Monthly', mnth)" class="month-container mn{{mnth}} border border-secondary text-center align-middle">
		{{ getMonthName(mnth) }}
	</div>

	<ng-container *ngShow="false">
	<div *ngFor="let week of weeks" class="week-container wk{{week}} border border-secondary text-center">
	</div>
	</ng-container>

	<ng-container *ngShow="showDays()">
	<div *ngFor="let day of days" (click)="selectDay(day)" class="day-container dy{{day}} border border-secondary text-center">
	</div>
	</ng-container>
</div>
