<div class="calendar-container {{view}}">
	<!-- HEADER -->
	<div class="calendar-header border border-secondary">
		<div class="calendar-navigator prev text-center a-text--noselect u-clickable" (click)="transition('prev')">
			<<
		</div>
		
		<div class="calendar-title text-center text-nowrap a-text--noselect u-clickable" (click)="titleClick()">
			{{calendarTitle}}
		</div>

		<div class="calendar-navigator next text-center text-nowrap a-text--noselect u-clickable" (click)="transition('next')">
			>>
		</div>
	</div>

	<!-- CALENDAR CELLS -->
	<ng-container *ngShow="false">
	<div class="year-container">
	</div>
	</ng-container>

	<div *ngFor="let mnth of months" (click)="selectMonth(mnth)" 
	    class="month-container mn{{mnth}} border border-secondary text-center align-middle"
	    [class.selected]="selection('month', 'Monthly', mnth)" 
	    [class.hidden]="hide('month', mnth)">
		<span class="a-text--noselect">{{ getMonthName(mnth) }}</span>
	</div>

	<ng-container *ngShow="false">
	<div *ngFor="let week of weeks" class="week-container wk{{week}} border border-secondary text-center">
	</div>
	</ng-container>

	<div *ngFor="let day of days" (click)="selectDay(day)" 
	     class="day-container dy{{day}} border border-secondary text-center"
	     [class.a-color--gray]="idx_to_date(day).getMonth() != selectedDate.getMonth()" 
	     [class.selectedWeek]="selection('day', 'Weekly', day)" 
	     [class.selectedDay]="selection('day', 'Daily', day)" 
	     [class.hidden]="hide('day', day)">
		<span class="a-text--noselect">{{ getDayText(day) }}</span>
	</div>
</div>

<table>
	<tr><td class="text-end text-nowrap fw-bold border py-1 px-2">Selected Date</td><td class="text-start text-nowrap border py-1 px-2">{{selectedDate}}</td></tr>
	<tr><td class="text-end text-nowrap fw-bold border py-1 px-2">Week Start</td><td class="text-start text-nowrap border py-1 px-2">{{weekStart}}</td></tr>	
	<tr><td class="text-end text-nowra fw-bold border py-1 px-2">Week End</td><td class="text-start text-nowrap border py-1 px-2">{{weekEnd}}</td></tr>
	<tr><td class="text-end text-nowrap fw-bold border py-1 px-2">View</td><td class="text-start text-nowrap border py-1 px-2">{{view}}</td></tr>
</table>
