<div class="calendar-container">
	<div class="year-container">
	</div>

	<div class="month-container" *ngFor="let mnth of months">
		{{ getMonthName(mnth) }}
	</div>

	<div class="week-container" *ngFor="let week of weeks">
	</div>

	<div class="day-container" *ngFor="day of days">
	</div>
</div

>
<div class="calendar-container" [@viewTransition]="view">
	<div class="row" *ngFor="let row of [0, 1, 2, 3]">
		<div [@monthTransition]="selectedMonth == row * 4 + col ? 'expanded' : 'collapsed'" class="col month-cell border border-secondary" *ngFor="let col of [0, 1, 2]" (click)="selectMonth(row * 4 + col)">
			{{row * 4 + col}}
		</div>
	</div>
</div>
