<!-- HEADER PANEL CONTENT -->
<ng-template #calendarHeader>
	<button (click)="toggleView('Daily')">Daily View</button>
	<button (click)="toggleView('Monthly')">Monthly View</button>
</ng-template>

<!-- CALENDAR CONTENT -->
<div class="calendar-container {{view}}">
	<!-- HEADER -->
	<div class="calendar-header border border-secondary">
		<div class="calendar-navigator prev text-center a-text--noselect u-clickable" (click)="transition('prev')">
			<<
		</div>
		
		<div class="calendar-title text-center text-nowrap a-text--noselect u-clickable" (click)="titleClick()">
			{{calendarTitle}}
		</div>

		<div class="calendar-navigator next text-center text-nowrap a-text--noselect u-clickable" (click)="transition('next')">
			>>
		</div>
	</div>

	<!-- CALENDAR CELLS -->
	<div *ngFor="let mnth of months" (click)="selectMonth(mnth)" 
	    class="month-container mn{{mnth}} border border-secondary text-center align-middle"
	    [class.selected]="selection('month', 'Monthly', mnth)" 
	    [class.hidden]="hide('month', mnth)">
		<span class="a-text--noselect">{{ getMonthName(mnth) }}</span>
	</div>

	<div *ngFor="let day of days" (click)="selectDay(day)" 
	     class="day-container dy{{day}} border border-secondary text-center"
	     [class.a-color--gray]="idx_to_date(day).getMonth() != selectedDate.getMonth()" 
	     [class.selectedWeek]="selection('day', 'Weekly', day)" 
	     [class.selectedDay]="selection('day', 'Daily', day)" 
	     [class.hidden]="hide('day', day)">
		<span class="a-text--noselect">{{ getDayText(day) }}</span>
	</div>
</div>
